{% extends "store/base.html" %}
{% block contact-us %}
<div class="support-block text-left">
    <div class="support text-left">
            <h1 class="orange">CUSTOMER SUPPORT</h1>
        <div class="">
            <p>Questions?  Comments? </p>
            <ul class="margin-left">
                <li>Email: <a href="mailto:support@business.com">support@business.com</a></li>
                <li>Phone: <a href="tel:8282315210">(###) ###-####</a></li>
                <li>Hours: 9:00am – 6:00pm (CDT)</li>
            </ul>
        </div>
    </div>

{% endblock %}